$icon-font-path: '../fonts/';
@import "paper/variables";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "paper/paper";

// Components
@import "messages";
@import "helpers";
@import "buttons";
@import "navs";
@import "flexbox";

* {
  //outline: 1px solid rgba(red,0.2);
}

img {
  max-width: 100%;
}
body {
  &.has-tabs {
    padding-bottom: 44px;
  }
  &.has-navbar {
    padding-top: (22px + (14.5px*2));
  }
}


.container-fluid {
  max-width: $screen-xs-min;
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}
.logo {
  margin: $grid-gutter-width;
  margin: $grid-gutter-width auto;
  display: block;
}

.tab-pane {
  min-height: 100vh;
}
