$icon-font-path: '../fonts/';
$icon-font-path: '../fonts/';
@import "paper/variables";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "paper/paper";


// Buttons Fixes
.btn-pill {
  border-radius: 999px;
}

@include text-emphasis-variant('.text-secondary', $brand-secondary);
@include text-emphasis-variant('.text-teritary', $brand-teritary);
@include text-emphasis-variant('.text-navy', $brand-navy);
@include text-emphasis-variant('.text-link', $brand-link);
@include text-emphasis-variant('.text-white', white);

legend {
  font-family: $font-family-headers;
  border: none;
}

.nav,
.breadcrumb {
  font-family: $font-family-headers;
}


@mixin bg($class,$bg) {
  .bg-#{$class} {
    background-color: $bg;
  }
}

@include bg(primary, $brand-primary);
@include bg(secondary, $brand-secondary);
@include bg(teritary, $brand-teritary);
@include bg(navy, $brand-navy);

.btn-bold {
  font-weight: 600;
}


// Fix for the dark backgrounds:

.bg-navy {

  @include btn-outline(default,white);
  .btn-outline-default {
    &:hover,
    &:active,
    &:focus {
      color: $btn-default-color;
    }
  }
}

.marvel-device {
  position: relative;
  .screen {
    text-align: left;
    // height: 100%;
    position: relative;
  }
}


// Examples
.login-buttons {
  position: absolute;
  left: $grid-gutter-width;
  bottom: $grid-gutter-width*2;
  right: $grid-gutter-width;
}


// sliderFrame
.slide {
  height: 280px;
}

.mobile-screen {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
}
.container-fluid,
.max-mobile-width {
  max-width: $screen-xs-min;
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
}


section {
  &.welcome {
      background-image: url(../images/bg_w01.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
}

.carousel-indicators {
  // > li, > li.active {
  //   width: 7px;
  //   height: 7px;
  // }
}
