<main class="home">
  <!-- <header class="nav-bar">
    <div class="container-fluid">
      <h4 class="text-whites">Home</h4>
    </div>
  </header> -->
  <section>
    <div class="container-fluid">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="home">
          map view
          <button class="btn btn-secondary">button</button>
        </div>
        <div role="tabpanel" class="tab-pane active" id="messages">
          <div class="list-group">
            <div class="list-group-separator">
              Trusted Circles
            </div>
            <a href="#" class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <img src="http://placecage.com/50/50" alt="" class="img-circle profile-picture">
                </div>
                <div class="media-body">
                  <h5 class="media-heading"><span class="text-info">School</span> </h5>
                  <p><strong>Nicolas Cage:</strong> Message here just one line
                  <time>5 minutes ago</time></p>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <img src="http://placecage.com/50/50" alt="" class="img-circle profile-picture">
                </div>
                <div class="media-body">
                  <h5 class="media-heading"><span class="text-link">Dance class</span> </h5>
                  <p><strong>Nicolas Cage:</strong> Message here just one line
                  <time>5 minutes ago</time></p>
                </div>
              </div>
            </a>
            <div class="list-group-separator">
              CHATS
            </div>
            <a href="#" class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <img src="http://placecage.com/50/50" alt="" class="img-circle profile-picture">
                </div>
                <div class="media-body">
                  <h5 class="media-heading">Nicolas Cage </h5>
                  <p>Message here...
                  <time>5 minutes ago</time></p>

                </div>
              </div>
            </a>
          </div>
          <kbd>Example</kbd>
        </div>
        <div role="tabpanel" class="tab-pane" id="partners">...</div>
        <div role="tabpanel" class="tab-pane" id="profile">...</div>
      </div>

    </div>
  </section>
  <footer class="navigation">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-group"></i> Community</a></li>
      <li role="presentation" class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-comments"></i> Messages</a></li>
      <li role="presentation"><a href="#partners" aria-controls="partners" role="tab" data-toggle="tab"><i class="fa fa-building-o"></i> Partners</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-user-circle-o"></i> Profile</a></li>
    </ul>
  </footer>
</main>
